@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oswald font */
@font-face {
  font-family: "Oswald";
  src: url("../public/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald-SemiBold";
  src: url("../public/fonts/Oswald-SemiBold.ttf");
}

@font-face {
  font-family: "Oswald-Bold";
  src: url("../public/fonts/Oswald-Bold.ttf");
}

/* Général */
.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-oswald-semibold {
  font-family: "Oswald-SemiBold", sans-serif;
}

.font-oswald-bold {
  font-family: "Oswald-Bold", sans-serif;
}

/* Navbar */
#navbar {
  background-color: rgba(91, 72, 80, 0.95);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* Social links */
#social-links-container {
  z-index: 3;
  bottom: 0;
  left: 4em;
}

.social-icon {
  transform: scale(0.9);
}

.social-icon:hover {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

#social-links-bar {
  width: 2px;
  height: 104px;
  background-color: var(--black-color);
  border-radius: 1px 1px 0 0;
}

/* Projects */
.w-31 {
  width: 510px;
}

@media screen and (min-width: 1024px) {
  .project-description-text {
    width: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .project-description-text {
    width: 640px;
  }
}
